{% extends 'base.html.twig' %}

{% block body %}

<style>
    .mesAnnonces {
        width: 20%;
    }
</style>

<body class="bodyAccueil m-0">
    <main>
        <section class="container mt-5">
            <article>
                <h2 class="text-center mt-5">Mon profil:</h2>
                <div class="d-flex flex-column">
                    <img src="{{ asset('asset/images/' ~ userImage )}}" alt="" width="90%" height="450" class="m-auto">
                    <div class="d-flex justify-content-between">
                    <h3>{{userPseudo}}</h3>
                    <h4>{{userStatut}}</h4>
                    </div>
                    <p class="text-center">{{userDescription}}</p>
                </div>
            </article>
        </section>
        <section class="container mt-5 mesAnnonces">
            <article>
                <h2 class="text-center mt-5">Mes annonces :</h2>
                <div class="d-flex flex-column m-auto">
                    {% for a in annonce %}
                    <img src="{{ asset('asset/images/' ~ a.image )}}" alt="" width="400" height="200" class="m-auto">
                    <h3 class="text-center">{{a.titre}}</h3>
                    <span class="text-center font-weight-semibold">{{a.prenom}}</span>
                    <span class="text-center font-weight-semibold">{{a.nom}}</span>
                    <p class="text-center">{{a.description}}</p>
                    <button class="btn btn-lg mt-3 text-center btnsignup"><a href="{{ path('mon_annonce', {'id': a.id}) }}">Modifier mon annonce</a></button>
                    {% endfor %}
                </div>
            </article>
        </section>
        <section class="container sectionFormAnnonce">
            <div class="container mt-5">
                <h2 class="text-center mt-5">Editer mon profil</h2>
        
                {{ form_start(form, { 'action': path('mon_compte') }) }}
          
                {{ form_end(form) }}
                </div>
        </section>
    </main>
</body>
{% endblock %}
