{%  extends 'base.html.twig' %}

{% block body %}
<body class="bodyAccueil m-0">
    <main>
    
        <section class="sectionImage">
            <div id="imageAccueil">
            </div>
            <section class="" id="rechercheAccueil">
                <form method="post" class="justify-content-center ">
    
                    <h1 class="h3 mb-3 font-weight-bold text-center">Trouvez votre futur animal de compagnie près de chez vous.</h1>
                    <div class="mt-1 mb-4 d-flex justify-content-between">
                        <p class="text-center m-auto font-weight-semibold">Découvrez notre séléction d'animaux à adopter..</p>  
                    </div>
    
    
                    <label for="inputRegion">Région :</label>
                    <input type="region" name="region" id="inputRegion" class="form-control" required autofocus>
                    <label for="inputVille">Ville :</label>
                    <input type="ville" name="ville" id="inputVille" class="form-control" required autofocus>
                    <label for="selectAnimalType">Type d'animal :</label>
                    <select id="selectAnimalType" name="AnimalType" class="form-control form-select mt-2" aria-label="Select animal" required autofocus>
                        <option selected>Choisir votre animal</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <br>  
                     
                    <button class="form-control btn btn-lg mt-3 text-center" id="btnsignin" type="submit">Rechercher</button>
                </form>  
            </section>
        </section>
        <section class="mt-5 sectionDerniereAnnonce">
            <article>
                <h2 class="h3 font-weight-bold">Nos dernières annonces :</h2>
                <article>
                    <div class="d-flex justify-centent-center m-auto">
                        {% for a in annonces %}
                        <div class="card mt-5 ml-5 mr-5" style="min-width: 300px; max-width: 300px;">
                            <img src="{{ asset('asset/images/' ~ a.image )}}" alt="" width="100%" height="80%" class="m-auto">
                            <div class="card-body">
                              <h5 class="card-title">{{a.titre}}</h5>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">{% if a.statut.id == "1" %}<img src="{{ asset('asset/images/Particulier.png')}}" alt="" width="80%" height="80%" class="m-auto"> {% elseif a.statut.id == "2" == '2' %} <img src="{{ asset('asset/images/Eleveur.png')}}" alt="" width="70%" height="80%" class="m-auto"> {% elseif a.statut.id == "3" == '3' %} <img src="{{ asset('asset/images/Adoptant.png')}}" alt="" width="70%" height="80%" class="m-auto"> {% endif %}</li>
                                <li class="list-group-item">Prenom : {{a.prenom}}</li>
                              </ul>
                              <p class="card-text">{{ a.description|length > 100 ? a.description|slice(0, 100) ~ '...' : a.description  }}</p>
                              <button class="btn btn-lg text-center text-decoration-none"><a href="{{ path('annonce', {'id': a.id}) }}">Voir l'annonce</a></button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </article>
        </section>
        <section class="mt-5 sectionCoeur">
            <article>
                <h2 class="h3 font-weight-bold">Vos coups de coeurs :</h2>
                {# {% for coupdecoeur in coupdecoeurs %}
                {% endfor %} #}
            </article>
        </section>
    </main>
</body>
{% endblock %}