{%  include '/layout/header.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<body id="bgsignin">


		<main class="container shadowConnexion bg-white rounded d-flex  p-3 " id="mainsignin">
			<section class="" id="sec1signin">
				<form method="post" class="justify-content-center ">

					<h1 class="h3 mb-5 font-weight-normal">Inscription</h1>
					<div class="mt-1 mb-4 d-flex justify-content-between">
						<p class="mr-3">Déjà membre ?</p>
						<a class="ml-5" href="{{ path('signin') }}">Connexion</a>

					</div>


					<label for="inputNom">Pseudo :</label>
					<input type="nom" name="nom" id="inputNom" class="form-control" required autofocus>
                    <label for="inputEmail">Email :</label>
					<input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
					<label for="inputPassword">Mot de passe :</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>
					<label for="inputPasswordComfirm">Vérifier mot de passe :</label>
					<input type="passwordComfirm" name="passwordComfirm" id="inputPasswordComfirm" class="form-control" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


					<button class="btn btn-lg mt-3 text-center" id="btnsignin" type="submit">Créer un compte</button>

					<aside class="text-center" id="divsignin">
						<hr class="block">
						<span class="bg-white">
							Vous inscrire avec : 
						</span><br>
						<div class="mt-4" id="logosignin">
							<a href="https://wwww.instagram.com">
								<img class="rounded-circle logosin" alt="logo instagram" src={{ asset('asset/images/insta.webp') }}>
							</a>
							<a href="https://wwww.facebook.com" class="ml-4 mr-4">
								<img class=" rounded-circle logosin" alt="logo facebook" src={{ asset('asset/images/fb.png') }}>
							</a>
							<a href="https://wwww.twitter.com">
								<img class=" rounded-circle logosin" alt="logo twitter" src={{ asset('asset/images/twitter.webp') }}>
							</a>
						</div>
					</aside>
				</form>


			</section>


			<img src="{{asset('asset/images/cat.jpg')}}" class="ml-5" id="imagesignin">

		</main>
		{% endblock %}

{% include '/layout/footer.html.twig' %}
